<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Privacy - Camera Usage Description</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_NAME)</string>
				<string>needs</string>
				<string>camera</string>
				<string>access.</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Privacy - Photo Library Usage Description</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_NAME)</string>
				<string>needs</string>
				<string>photo</string>
				<string>library</string>
				<string>access.</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
